# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
.vscode/

# IntelliJ-related
*.iml
*.ipr
*.iws
.idea/

# The Python ARM simulator
# arm-subset/

# The Flutter SDK
# bin/cache/
# bin/mingw/
# bin/cache/artifacts/

# Flutter-related
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

# Android-related
android/**/gradle-wrapper.jar
android/.gradle
android/captures/
android/local.properties
android/kinantouch_app_android.iml
android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java

# iOS/Mac-related
ios/**/Pods/
ios/.generated/
ios/Flutter/.last_build_id
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/Generated.xcconfig
ios/Flutter/app.flx
ios/Flutter/app.zip
ios/Flutter/flutter_assets.zip
ios/Flutter/flutter_export_environment.sh
ios/ServiceDefinitions.json
ios/Runner/GeneratedPluginRegistrant.h
ios/Runner/GeneratedPluginRegistrant.m
macos/Flutter/ephemeral/

# Log files
*.log
